
body {
  background: #fafafa;
  color: #33333a;
  padding-top: 70px;
}

h1, h2, h3, h4, h5, h6 {
  color: #323232;
}

label{
    margin: 0;
}

.main-color {
  background-color: #0e76a8 ;
}

.strike-through-td {
    text-decoration: line-through;
}

.navbar-brand{
    position: relative;
}


.add-file-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}

.add-file-form__submit, .btn_blue{
    padding: 10px 10px;
    background: transparent;
    color: #0e76a8;
    border: 1px solid #0e76a8;
    border-radius: 10px;
    transition: all 0.3s ease-out;
}

.btn_blue:hover{
    background:#0e76a8;
    color: #fff;
}

.add-file-form__file {
    display: none;
}

.done{
    background: url(/static/img/ok.svg);
    background-repeat: no-repeat ;
    background-position: center;
    background-size: contain;
}
.file-label{
    width:126px;
    height: 46px;
}
.hidden{
    display: none;
}

.employee-tr{
    position: relative;
}
.employee-iframe{
    position: absolute;
    top: 0 ;
    left: 104%;
}

.employee-show-more{
    cursor: pointer;
    padding: 0 20px 0 0;
    position: relative;
}

.employee-show-more::after{
    content: '';
    position: absolute;
    top: 5px ;
    right: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-image: url(/static/img/arrow.svg);
    background-repeat: no-repeat ;
    background-position: right;
    background-size: 16px;
    transition: all 0.3s ease-out;
}

.opened .employee-show-more::after{
    transform: rotate(180deg);
}

@media (min-width: 1400px){
        .container {
        max-width: 1360px;
    }
}

@media (min-width: 1700px){
        .container {
        max-width: 1660px;
    }
}
