{% include 'layout.html' %}

<div class="container">
    <div class="row">
        <div class="card text-center">
            <div class="card-header">
                Your Todos
            </div>
            <div class="card-body">
                <h5 class="card-title">List of Todos</h5>
                <p class="card-text">Info</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Info</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for employee in employees %}
                    <tr class="pointer">
                        <td>{{loop.index}}</td>
                        <td>{{employee.name}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <form action="add-csv" method="post" enctype="multipart/form-data">
                    <input type="file" name="file">
                    <input type="submit" value="Upload">
                </form>

                <a href="/employees/export-csv" download="employees.csv" class="btn_blue">Скачать CSV</a>

            </div>
        </div>
    </div>
</div>
