{% include 'layout.html' %}

<div class="container">
    <div class="row">
        <div class="card text-center">
            <div class="card-header">
                Ваш отдел
            </div>
            <div class="card-body">
                <h5 class="card-title">Спсисок сотрудников</h5>
                <p class="card-text">Вероятность увольнения</p>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">%</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for employee in employees %}
                    <tr class="pointer employee-show-more" id="show-more-id-{{employee.id}}">
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                    </tr>
                    {% endfor %}

                    </tbody>
                </table>
                <form action="add-csv" method="post" enctype="multipart/form-data" class="add-file-form">
                    <label for="file" class="btn_blue file-label" id="file-label">Выбрать файл</label>
                    <input type="file" name="file" class="add-file-form__file" id="file" accept="text/csv">
                    <input type="submit" value="Загрузить" class="btn_blue">

                </form>

                <a href="/employees/export-csv" download="employees.csv" class="btn_blue">Скачать CSV</a>

            </div>

        </div>
    </div>
    {% for employee in employees %}
    <div class="employee-iframe hidden" id="iframe-id-{{employee.id}}">
            <iframe src="http://45.9.24.165:3000/d-solo/e7e950a4-9130-4e62-9642-f9babdc9dfbe/test?orgId=1&var-user_id={{employee.id}}&from=1702653347048&to=1702674947048&panelId=1"
            width="450" height="200" frameborder="0"></iframe>
    </div>
    {% endfor %}

    <script>

    </script>
</div>
